<div class="container my-3">
  <div class="alert alert-primary my-3 position-absolute top-50 start-50 translate-middle" role="alert">
    <h4 class="alert-heading">Welcome to About section</h4>
    <p>this app is developed using angular by students developer</p>
    <hr />
    <p class="mb-0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt culpa
      tempora, voluptatem non expedita modi quos quasi nihil fugit quam eos
      reprehenderit consectetur praesentium pariatur repellat hic! Reiciendis,
      quasi beatae.
    </p>
  </div>
</div>
